@keyframes scoot-left {
	to {
		transform: translateX(200%);
		opacity: 0;
	}
}

@keyframes scoot-right {
	to {
		transform: translateX(-200%);
		opacity: 0;
	}
}

@keyframes scoot-down {
	to {
		transform: translateY(-200%);
	}
}

@keyframes scoot-in-down {
	from {
		transform: translateY(-400%);
	}
}

@keyframes scoot-in-left {
	from {
		transform: translateX(-200%);
	}
}

@keyframes gentle-grow {
	to {
		transform: scale(1.04, 1.04);
	}
}

@-webkit-keyframes fade-out {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
@keyframes fade-out {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@-webkit-keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes tracking-out-contract {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 1;
	}
	100% {
		letter-spacing: -0.5em;
		opacity: 0;
	}
}
@keyframes tracking-out-contract {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 1;
	}
	100% {
		letter-spacing: -0.5em;
		opacity: 0;
	}
}

@-webkit-keyframes text-blur-out {
	0% {
		-webkit-filter: blur(0.01);
		filter: blur(0.01);
	}
	100% {
		-webkit-filter: blur(12px) opacity(0%);
		filter: blur(12px) opacity(0%);
	}
}
@keyframes text-blur-out {
	0% {
		-webkit-filter: blur(0.01);
		filter: blur(0.01);
	}
	100% {
		-webkit-filter: blur(12px) opacity(0%);
		filter: blur(12px) opacity(0%);
	}
}

@keyframes black-to-white {
	from {
		background-color: black;
	}
	to {
		background-color: white;
	}
}

@-webkit-keyframes slide-in-fwd-center {
	0% {
		-webkit-transform: translateZ(-1400px);
		transform: translateZ(-1400px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
		opacity: 1;
	}
}
@keyframes slide-in-fwd-center {
	0% {
		-webkit-transform: translateZ(-1400px);
		transform: translateZ(-1400px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
		opacity: 1;
	}
}

@-webkit-keyframes wobble-hor-bottom {
	0%,
	100% {
		-webkit-transform: translateX(0%);
		transform: translateX(0%);
		-webkit-transform-origin: 50% 50%;
		transform-origin: 50% 50%;
	}
	15% {
		-webkit-transform: translateX(-30px) rotate(-6deg);
		transform: translateX(-30px) rotate(-6deg);
	}
	30% {
		-webkit-transform: translateX(15px) rotate(6deg);
		transform: translateX(15px) rotate(6deg);
	}
	45% {
		-webkit-transform: translateX(-15px) rotate(-3.6deg);
		transform: translateX(-15px) rotate(-3.6deg);
	}
	60% {
		-webkit-transform: translateX(9px) rotate(2.4deg);
		transform: translateX(9px) rotate(2.4deg);
	}
	75% {
		-webkit-transform: translateX(-6px) rotate(-1.2deg);
		transform: translateX(-6px) rotate(-1.2deg);
	}
}
@keyframes wobble-hor-bottom {
	0%,
	100% {
		-webkit-transform: translateX(0%);
		transform: translateX(0%);
		-webkit-transform-origin: 50% 50%;
		transform-origin: 50% 50%;
	}
	15% {
		-webkit-transform: translateX(-30px) rotate(-6deg);
		transform: translateX(-30px) rotate(-6deg);
	}
	30% {
		-webkit-transform: translateX(15px) rotate(6deg);
		transform: translateX(15px) rotate(6deg);
	}
	45% {
		-webkit-transform: translateX(-15px) rotate(-3.6deg);
		transform: translateX(-15px) rotate(-3.6deg);
	}
	60% {
		-webkit-transform: translateX(9px) rotate(2.4deg);
		transform: translateX(9px) rotate(2.4deg);
	}
	75% {
		-webkit-transform: translateX(-6px) rotate(-1.2deg);
		transform: translateX(-6px) rotate(-1.2deg);
	}
}
