@keyframes scoot-left {
	to {
		transform: translateX(200%);
	}
}

@keyframes scoot-right {
	to {
		transform: translateX(-200%);
	}
}

@keyframes gentle-grow {
	to {
		transform: scale(1.04, 1.04);
	}
}

@-webkit-keyframes fade-out {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
@keyframes fade-out {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@-webkit-keyframes tracking-out-contract {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 1;
	}
	100% {
		letter-spacing: -0.5em;
		opacity: 0;
	}
}
@keyframes tracking-out-contract {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 1;
	}
	100% {
		letter-spacing: -0.5em;
		opacity: 0;
	}
}

@-webkit-keyframes text-blur-out {
	0% {
		-webkit-filter: blur(0.01);
		filter: blur(0.01);
	}
	100% {
		-webkit-filter: blur(12px) opacity(0%);
		filter: blur(12px) opacity(0%);
	}
}
@keyframes text-blur-out {
	0% {
		-webkit-filter: blur(0.01);
		filter: blur(0.01);
	}
	100% {
		-webkit-filter: blur(12px) opacity(0%);
		filter: blur(12px) opacity(0%);
	}
}
