/* || Fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

/* || Animation */
@import "./Animation.css";


h5 h4 h3 h2 h1 p button{
  font-family: "Montserrat", sans-serif;
}

/* || General Styles */
:root {
	--font-color: #393939;
	--font-color-hover: #797979;
  --background-main: #cde4b0;
  


}

/* || Nav and Header */
.nav-container {
	width: 100%;
	display: flex;
}

.nav-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-flow: row wrap;
	width: 80%;
  margin: 20px auto;
}

.nav-link-wrapper {
	display: flex;
}
.nav-logo-image {
	width: 100%;
	max-width: 300px;
	height: auto;
}

.nav-link-button {
	padding: 0.25rem 1rem;
	text-decoration: none;
	color: var(--font-color);
	font-weight: lighter;
}

.nav-link-button :hover {
	color: var(--font-color-hover);
}



/* Splash Page */

.splash-container{
  width:100%;
  height: auto;
}

.splash-wrapper{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
  width:80%;
  margin: 0 auto;
}

.splash-header{
  font-weight: 700;
}

.splash-text-body{
  display: flex;
  flex-flow: column wrap;
  max-width: 50%;
  margin-bottom: 10px;

  
}

.splash-cta-button{
  background-color: var(--background-main);
  padding: 9px 15px;
  border:none;
}

.splash-image{
  width:100%;
  max-width: 400px;
  margin: 0 auto;

  /* animation: swing-out-right-bck 2s ; */

  animation:rotate .5s ;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
}


.splash-keep-scrolling{
  display: flex;
}

.splash-keep-scrolling h2{
  margin:0 auto;
}



/* || Instruction Cards */

.splash-instruction-container{
  height:80vh;
  min-height: 50vh;
}

/*  First Card */
.splash-card-first{
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--background-main);
  background-image: url("./images/Spaget.png");
  background-attachment: fixed;
}



/* Second Card */

.splash-card-second{
  background-color: aliceblue;
}


/* Third Card */

.splash-card-third{
  background: greenyellow;
}